title {
  color: blue; font-size: 5em;
}
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 400px 0;
}
header {
  color: blue;font-size: 5em;
  
}
nav {
  font-size: 2em;
}
section {
  font-size: 1.5em;
  width: 80px;
  height: 40px;
  background-image: url("lune.png");
  border-radius: 500px;
  padding: 20px 0;
  margin: auto; 
  position: relative;
  animation-name: example;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
  @keyframes example {
    0%   {background-image: url("lune.png"); left:-800px; top:-400px;}
    15%  {background-image: url("lune.png"); left:-100px; top:-400px;}
    65%  {background-image: url("lune.png"); left:100px; top:-400px;}
    75%  {background-image: url("lune.png"); left:800px; top:-400px;}
    100% {background-image: url("lune.png"); left:-800px; top:-400px;}
}
footer {
  text-align: right;
  padding: 100px 0 ;
  color: yellow;
}
.email {
  color: yellow;
}